<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Result</title>
    </head>
    <body>
        <h1>Submitted Information</h1>
        <p>Name: <%= context.name %></p>
        <p>Dojo Location: <%= context.location %></p>
        <p>Favorite Language: <%= context.language %></p>
        <p>Comment: <%= context.comment %></p>
    </body>
</html>
